<!DOCTYPE html>
<html>
  <head>
    <title>Quality Assurance Projects</title>
    <meta
      name="description"
      content="Quality Assurance Projects from the freeCodeCamp Curriculum"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/all.css" />
  </head>

  <body>
    <header>
      <h1>Quality Assurance Projects</h1>
      <nav>
        <ul>
          <li class="current"><a href="/">Home</a></li>
          <li><a href="/sudoku-solver">Sudoku Solver</a></li>
        </ul>
      </nav>
    </header>
    <hr />
    <main>
      <p>
        My take on the final projects from the
        <a
          target="_blank"
          href="https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/"
          >Quality Assurance Unit</a
        >.
      </p>
      <p>
        From the <a target="_blank" href="freecodecamp.org">freeCodeCamp</a>'s
        curriculum.
      </p>
    </main>
    <hr />
    <footer>
      <ul>
        <li>
          <p>By Carlos Bernal.</p>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/carlos-jonathan-bernal-torres-07b90a1b1/"
            >My LinkedIn</a
          >.
        </li>
        <li>
          <a target="_blank" href="https://github.com/Solarc117">My Github</a>.
        </li>
        <li>
          <a target="_blank" href="https://www.freecodecamp.org/solarc"
            >My freeCodeCamp</a
          >.
        </li>
      </ul>
    </footer>
  </body>
</html>
